.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem;
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  font-family: Arial;
}

.menuToggle {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.menuToggle .bar {
  height: 3px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}

.navLinks {
  display: flex;
  list-style: none;
  padding: 0;
}

.navLinks li {
  margin: 0 1rem;
}

.navLinks a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .menuToggle {
    display: flex;
  }

  .navLinks {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
  }

  .navLinks li {
    margin: 0;
    text-align: center;
    padding: 1rem 0;
  }

  .navLinks.active {
    display: flex;
  }
}
